body{
    text-align: center;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #767e89;
    font-family: "微软雅黑";
    /*color: #333;*/
}
.container{
    margin: 50px auto;
    width: 990px;
}
.header{
    background-color: #fff;
    height: 120px;
}
.header-logo{
    width:990px;
    height: 120px;
    float: left;
    background: url("/static/images/logo.png");
}
.footer{
    width:990px;
    float:left;
    margin-top: 10px;
    background-color: #fff;
    height:50px;
}