body{
    text-align: center;
    background-color: #f2f2f2;
    font-size: 14px;
    /*color: #767e89;*/
    color: #000;
    font-family: "微软雅黑";
    /*color: #333;*/
}
.container{
    /*margin: 50px auto;*/
    width: 990px;
}
.navbar-new{
    margin-top: 5px;
    font-size: 16px;
}
.navbar-login{
    margin-left: 50px;
    float:right;
}
.header{
    background-color: #fff;
    height: 115px;
}
.header-logo{
    width:990px;
    height: 115px;
    float: left;
    background: url("/static/images/logo.jpg");
}

.footer{
    width:990px;
    float:left;
    margin-top: 10px;
    background-color: #fff;
    height:50px;
    color:#767e89;
}