
   .bodypart{
     margin-top: 80px;
     margin-left: 200px;
     margin-right: auto;
     width: 1200px;
     color:#333;
   }
   .first_part{
       float:left;
       height:350px;
   }
   .login{
      margin-left: 20px;
      float:left;
      height:50px;
   }
   .login a{
     color:#3a87ad;
   }
   .login a:hover{
     color:#767e89;
   }
   .slider{
     width:520px;
     float:left;
     height:200px;
   }
   .news{
     float:left;
     margin-left: 20px;
     width:600px;
     height:300px;
   }
   .news a {
      color:#767e89;
   }
   .news a:hover{
        color:#0088cc;
   }
   .news a:visited{
       color:#767e89;
   }
   .second_part{
       float:left;
   }
   .notice{
      float:left;
      width:350px;
   }
   .notice, a {
     color:#767e89;
   }
   .notice a:hover{
        color:#0088cc;
   }
   .notice a:visited{
     color:#767e89;
   }
   .activity{
      float:left;
      width:390px;
      margin-right: 20px;
   }
   .activity, a {
     color:#767e89;
   }
   .activity a:hover{
        color:#0088cc;
   }
   .activity a:visited{
     color:#767e89;
   }
   .links{
       float:left;
       width:330px;
   }
   .footer{
        float:left;
        width: 900px;
   }