.slider{
    background-color: #fff;
    margin-top:10px;
}
.slider-wrapper{
    width:970px;
}
.second{
    margin-top: 10px;
}
.news{
    background-color: #fff;
    height:300px;
    float:left;
    width:490px;
}
.title{
    margin-left: 30px;
    text-align: left;
}
.item{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.item a{
    color:#767e89;
}
.item a:hover{
    color:#0088cc;
}
.item-title{
    text-align: left;
    width:300px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    float:left;
}
.item-date{
    width:90px;
    float:left;
    margin-left: 5px;
}
.notice{
    background-color: #fff;
    margin-left:20px;
    height:300px;
    float:left;
    width:480px;
}
.third{
    float:left;
    margin-top: 10px;
}
.activity{
    background-color: #fff;
    height:210px;
    float:left;
    width:490px;
}
.activity .nav{
    margin-left: 20px;
}
.structure{
    margin-left: 20px;
    background-color: #fff;
    height:210px;
    float:left;
    width:210px;
}

.links{
    background-color: #fff;
    margin-left:20px;
    height:210px;
    float:left;
    width:250px;
}