/*
**base.css
**this is new ui base css file
**created by shu 2013.9.27
*/
body{
    text-align: center;
    background-color: #EEF0F3;
    font-size: 14px;
    /*color: #767e89;*/
    color: #000;
    font-family: "微软雅黑";
    /*color: #333;*/
}
.container{
    margin-left:auto;
    margin-right:auto;
    width: 990px;
}

.header{
    height: 115px;
    width:990px;
    float: left;
    color:#ffffff;
    font-size: 20px ;
    margin-bottom: 5px;
    /*background-color:#941e23;*/
    background: url("/static/images/logo.jpg");
}
#nav, #nav ul {
    list-style: none;
    margin-bottom: 5px;
    font-size: 17px;
    float:left;
    width:990px;
    height:40px;

}
ul{
    width:900px;
    margin:0;
    padding:0;
}
#nav{
    background-color: #ff6f3d;
}
#nav li {
    float:left;
    height:30px;
    padding:10px 0 0 0;
    margin-right: 10px;
    width:90px;
	color: #fff;
}
#nav li a:hover{
    color: #fff;
}
#nav a:link, #nav a:visited {
	display: block;
	text-decoration: none;
	color: #fff;
}
#nav ul {
    width: 185px;
    float:left;
    margin-top: 10px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
    background-color:#ff6f3d;
	display: none;
	position: relative;
}
#nav ul li {
	float: left;
    width:185px;
    font-size:16px;
    /*border-bottom: 1px solid #efeeee;*/
	background-color: #ff6f3d;
	margin:0;
    text-align: left;
	padding: 10px 0 5px 5px ;
}
#nav li:hover ul {
	display: block;
}
#nav .li-hover{
    background-color: #e86938;
}

/*.navbar{
    margin-bottom: 10px;
    font-size: 15px;
    float:left;
    width:990px;
    height:35px;
    background-color: #941e23;
}

.navbar-item{
    float:left;
    margin:8px 0px 0px 15px;
    width:80px;
}
.navbar-item-login {
    margin:8px 10px 0px 15px;
    width:80px;
    float:right;
}

.navbar a:hover{
    color:#767e89;
}

.navbar a{
    color:#ffffff;
    text-decoration: none;
}*/
.tab{
    height:30px;
}

.tab-item{
    float:left;
    margin:10px 0px 0px 15px;
}

.tab-item-hover{
    color: #ff6f3d;
    display: block;
    border-bottom: 2px solid #ff6f3d;
    /*#941E23*/
}

.tab-content{
    margin:10px 0px 0px 15px;
    text-align: left;
}

.footer{
    float:left;
    margin-top: 10px;
    background-color: #fff;
    width:990px;
    height:60px;
    color:#555;
}
.footer-item{
    margin-top: 10px;
}
.pull-right{
    float:right;
}

/* detail page */
.other-content{
    background-color: #fff;
    margin-top: 165px;
}

.detail{
    margin: 0 auto 0 auto ;
    width:900px;
}
.list{
    min-height: 600px;
    width: 920px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fff;
    float:left;
}
.list-title{
    text-align: left;
    color: #ff6f3d;

}
.list-text-left{
    text-align: left;
}
.list-page{
    text-align: left;
}
.list-link{
    border-bottom: 1px solid #efeeee;
    margin-bottom: 10px;
}
.list-link a{
    font-size: 16px;
    float:left;
    color:#555;
    text-decoration: none;
}

.list-link a:hover{
    color: #ff6f3d;
}

.text-link a{
    color:#555;
    text-decoration: none;
}

.text-link a:hover{
    color: #ff6f3d;
}

.text-link-inverse a{
    color: #ff6f3d;
    text-decoration: none;
}

.text-link-inverse a:hover{
    color:#555;
}

.text-color{
    color:#ff6f3d;
}

.detail-title{
    padding-top: 10px;
}
.detail-date-publisher{
    margin: 0 auto 0 auto;
    width:300px;
}
.detail-date-publisher hr{
    margin: 0 auto 0 auto;
}
.detail-publisher{
    margin-top: 10px;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.detail-date{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.detail-content{
    margin-top: 10px;
    padding-bottom: 20px;
    text-align:left;
}
.activity-page{
    margin-top: 50px;
}
.activity-box{
    float:left;
    margin-right: 5px;
    margin-bottom:8px;
    width:323px;
    border: solid 1px #D7E4DF;
    height:200px;
    background-color: white;
}
.choice{
    border: solid 1px #ff6f3d;
    /*background-color: #f7f7f7;*/
}
.activity-box .type{
    color:#fff;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 16px;
    float:left;
    width:20%;
    height:15px;
}
.activity-box .graduates{
    background-color: #0099CC;
}
.activity-box .youth{
    background-color: #cb2027;

}
.activity-box .party{
    background-color: #990000;

}
.activity-box .other{
    background-color: #6666CC;
}
.activity-box .title{
    padding-top: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size:16px;
    text-align: center;
    float: left;
    color:#666;
    width:70%;
    height: 50px;
}
.activity-box .summary{
    float:left;
    text-align: left;
    margin-left: 10px;
    height: 100px;
    color:#999;
    width:92%;
}
.activity-box .time{
    padding-left: 10px;
    text-align: left;
    color:#666;
    font-size: 18px;
    float:left;
    width: 40%;
    height:30px;
}
.activity-box .join{
    text-decoration: none;
    color:#666;
    font-size: 16px;
    width:40%;
    text-align: right;
    margin-right: 10%;
    margin-bottom:10px;
    float:right;
    height: 20px;
}

