{% extends 'base5.html' %}
{% block title %}
    活动信息管理
{% endblock %}
{% block head_part %}
    <style>
        .table td{
            text-align: center;
            width:300px;
        }
        a{
           text-decoration: none;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("a[name='delete']").click(function(){
                var flag = confirm('确认删除该活动？');
                if(flag){
                    var id = $(this).attr("id");
                    location.href="/delete_activity/"+id;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="other-content" >
        <div class="list text-left">
        <h3 class="text-info">活动信息管理</h3>
        <a style="text-decoration: none;" href="/admin_center/">
            <button class="btn btn-mini" type="button">
                <i class=" icon-home icon-black"></i>管理中心
            </button>
        </a>
        <a style="text-decoration: none;"  href="/add_activity/">
            <button class="btn btn-mini" type="button">
                <i class=" icon-plus icon-black"></i>发布活动
            </button>
        </a>
        <a href="/search_student_activity/">
            <button class="btn btn-mini" type="button">
                <i class=" icon-search icon-black"></i>活动信息查询
            </button>
        </a>
        <hr/>
        <form action="/search_activity/" method="post">
            活动名称：<input type="text" name="title">
            <select name="type">
                <option value="-1">所有活动</option>
                <option value="0">研究生活动</option>
                <option value="1">团组织活动</option>
                <option value="2">党组织活动</option>
                <option value="3">其他活动</option>
            </select>
            <input style="margin-bottom: 12px;" type="submit" class="btn" value="查询">
        </form>
        {% if flag == True%}
            <table class="table">
                <thead>
                    <tr>
                        <td><h5>活动名称</h5></td>
                        <td><h5>活动类型</h5></td>
                        <td><h5>活动发起人</h5></td>
                        <td><h5>活动时间</h5></td>
                        <td><h5>审核状态</h5></td>
                        <td><h5>操作</h5></td>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in need_examine_activity_list %}
                        <tr>
                            <td>{{ activity.title }}</td>
                            <td>{{ activity.get_type_display }}</td>
                            <td>{{ activity.publisher }}</td>
                            <td>{{ activity.start_time }}</td>
                            <td style="width:200px;" >
                                {% if user.is_superuser %}
                                    <a href="/examine_activity/{{ activity.id }}" class="text-info">未审核</a>
                                {% else %}
                                    未审核
                                {% endif %}
                            </td>
                            <td>
                                <a style="text-decoration: none;" href="/activity_detail/{{ activity.id }}" target="_blank">
                                    <button class="btn btn-mini" type="button">
                                        <i class="icon-eye-open icon-black"></i>
                                    </button>
                                </a>
                                {% if user.is_superuser %}
                                    <a  style="text-decoration: none;" href="/modify_activity/{{ activity.id }}">
                                        <button class="btn btn-mini" type="button">
                                            <i class="icon-edit icon-black"></i>
                                        </button>
                                    </a>
                                    <a  href="#" name="delete" id="{{ activity.id }}">
                                        <button class="btn btn-mini" type="button">
                                            <i class="icon-remove icon-black"></i>
                                        </button>
                                    </a>
                                {% else %}
                                    {% if activity.publisher == user %}
                                        <a style="text-decoration: none;" href="/modify_activity/{{ activity.id }}">
                                            <button class="btn btn-mini btn-success" type="button">
                                                <i class="icon-edit icon-white"></i>
                                            </button>
                                        </a>
                                        <a style="text-decoration: none;" class="text-info" href="#" name="delete" id="{{ activity.id }}">
                                            <button class="btn btn-mini btn-danger" type="button">
                                               <i class="icon-remove icon-white"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                    {% for activity in examine_activity_list %}
                        <tr>
                            <td>{{ activity.title }}</td>
                            <td>{{ activity.get_type_display }}</td>
                            <td>{{ activity.publisher }}</td>
                            <td>{{ activity.start_time }}</td>
                            <td>
                                已审核<a style="text-decoration: none;" href="/examine_result/{{ activity.id }}" class="text-info" target="_blank">[查看]</a>
                            </td>
                            <td>
                                <a style="text-decoration: none;" href="/activity_detail/{{ activity.id }}" target="_blank">
                                    <button class="btn btn-mini" type="button">
                                        <i class="icon-eye-open icon-black"></i>
                                    </button>
                                </a>
                                {% if user.is_superuser %}
                                    <a style="text-decoration: none;" href="/modify_activity/{{ activity.id }}">
                                        <button class="btn btn-mini" type="button">
                                            <i class="icon-edit icon-black"></i>
                                        </button>
                                    </a>
                                    <a href="#" name="delete" id="{{ activity.id }}">
                                        <button class="btn btn-mini" type="button">
                                            <i class="icon-remove icon-black"></i>
                                        </button>
                                    </a>
                                {% else %}
                                    {% if activity.publisher == user %}
                                        <a style="text-decoration: none;" href="/modify_activity/{{ activity.id }}">
                                            <button class="btn btn-mini btn-success" type="button">
                                                <i class="icon-edit icon-white"></i>
                                            </button>
                                        </a>
                                        <a href="#" name="delete" id="{{ activity.id }}">
                                            <button class="btn btn-mini btn-danger" type="button">
                                               <i class="icon-remove icon-white"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
                </table>
        {% elif flag == False %}
            <div class="text-info">未搜索到结果。</div>
        {% else %}
        {% endif %}
    </div>
    </div>
{% endblock %}