{% extends 'base3-other.html' %}
{% block title %}
   发布活动
{% endblock %}
{% block head_part %}
    <style>
        form textarea{
            width: 500px;
        }
    </style>
    <script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            /*$('#id_start_time,#id_end_time,#id_deadline').datepicker({
                format: 'yyyy-mm-dd'
            });*/
            tinymce.init({
                selector: "textarea",
                language : 'zh_CN'
            });
            $( "#id_start_time,#id_end_time,#id_deadline" ).datepicker({
                dateFormat:"yy-mm-dd",
                changeMonth:true,
                changeYear:true
            });
        });
   </script>
{% endblock %}
{% block content %}
    <h3 class="text-info">发布活动</h3>
    <a class="text-info" href="/search_activity/">
        <button class="btn btn-mini btn-info" type="button">
            <i class="icon-arrow-left icon-white"></i>活动管理
        </button>
    </a>
    <a class="text-info" href="/admin_center/">
        <button class="btn btn-mini btn-success" type="button">
            <i class="icon-home icon-white"></i>管理中心
        </button>
    </a>
    <div style="width:900px">
    <hr/>
        <form action="/add_activity/" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="text-error"> {{ field.errors }} </div>
                <div style="margin-bottom: 10px;">
                    <div style="width:110px;float: left;"> {{ field.label_tag }}</div>
                    {% if field.label == "内容" %}
                        <div style="margin-left: 110px;">{{ field }}</div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                 </div>
            {% endfor %}
            <p><input type="submit" class="btn" value="发布" /></p>
        </form>
    </div>
{% endblock %}