{% extends 'base_admin_center.html'%}
{% block title %}
    活动审核
{% endblock %}
{% block head_main_part %}
    <style>
        .table{
            width: 700px;
        }
        .table td{
            text-align: center;
        }
    </style>
{% endblock %}
{% block main_content %}
    <div class="admin-left-siderbar">
        <div class="item-nav">活动管理</div>
        <div class="item active"><a style="color:white;" href="/search_activity/">活动列表</a></div>
        <div class="item"><a href="/add_activity/">活动发布</a></div>
        <div class="item"><a href="/search_student_activity/">学生活动查询</a></div>
        <div class="item-nav">文件管理</div>
        <div class="item"><a href="/attachment_list/">文件列表</a></div>
        <div class="item"><a href="/upload_attachment/">文件上传</a></div>
        <div class="item-nav">留言管理</div>
        <div class="item active"><a  href="/list_suggestion/">留言列表</a></div>
        <div class="item-nav">其他管理</div>
        <div class="item"><a href="/admin/">新闻、通知等</a></div>
    </div>
    <div class="right-content">
            <h4 class="text-color">{{ activity.title }}活动审核</h4>
            <hr/>
                <!--<h4 class="text-info">活动报名列表</h4>-->

            <form action="/examine_activity/{{ activity.id }}" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <td><h5>学号</h5></td>
                            <td><h5>姓名</h5></td>
                            <td><h5>参与状况</h5></td>
                            <td><h5>获奖情况</h5></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for studentActivity,student in student_dic.items %}
                            <tr>
                                <td>{{ student.student_id }}</td>
                                <td>{{ student.name }}</td>
                                <td>
                                    <select name="status_{{ studentActivity.id }}">
                                        {% if studentActivity.status == 0 %}
                                            <option value="0" selected="selected">未参与</option>
                                            <option value="1">参与者</option>
                                            <option value="2">组织者</option>
                                        {% elif studentActivity.status == 1 %}
                                            <option value="0">未参与</option>
                                            <option value="1"  selected="selected">参与者</option>
                                            <option value="2">组织者</option>
                                        {% else %}
                                            <option value="0">未参与</option>
                                            <option value="1">参与者</option>
                                            <option value="2" selected="selected">组织者</option>
                                        {% endif %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="award_{{ studentActivity.id }}" value="{{ studentActivity.award }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" class="btn" value="完成审核">
            </form>
        </div>
    </div>
{% endblock %}