{% extends 'base_admin_center.html' %}
{% block title %}
    修改活动
{% endblock %}
{% block head_main_part %}
    <style>
        form{
            width: 400px;
            margin-top: 20px;
        }
    form textarea{
        width: 200px;
        height: 250px;
    }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $( "#id_start_time,#id_end_time,#id_deadline" ).datepicker({
                dateFormat:"yy-mm-dd",
                changeMonth:true,
                changeYear:true
            });
        });
    </script>
    <script charset="utf-8" src="/static/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/js/kindeditor/lang/zh_CN.js"></script>
    <script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea', {
					allowPreviewEmoticons : false,
					allowImageUpload : false,
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|','preview' ]
				});
			});
    </script>
{% endblock %}
{% block main_content %}
    <div class="admin-left-siderbar">
        <div class="item-nav">活动管理</div>
        <div class="item active"><a style="color:white;" href="/search_activity/">活动列表</a></div>
        <div class="item"><a href="/add_activity/">活动发布</a></div>
        <div class="item"><a href="/search_student_activity/">学生活动查询</a></div>
        <div class="item-nav">文件管理</div>
        <div class="item"><a href="/attachment_list/">文件列表</a></div>
        <div class="item"><a href="/upload_attachment/">文件上传</a></div>
        <div class="item-nav">留言管理</div>
        <div class="item"><a href="/list_suggestion/">留言列表</a></div>
        <div class="item-nav">其他管理</div>
        <div class="item"><a href="/admin/">新闻、通知等</a></div>
    </div>
    <div class="right-content">
        <form action="/modify_activity/{{ id }}" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="text-error"> {{ field.errors }} </div>
                <div style="margin-bottom: 10px;">
                    <div style="width:110px;float: left;"> {{ field.label_tag }}</div>
                    {% if field.label == "内容" %}
                        <div style="margin-left: 0px;">{{ field }}</div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                 </div>
            {% endfor %}
            <p><input type="submit" class="btn" value="修改" /></p>
        </form>
    </div>
{% endblock %}