{% extends 'base.html' %}
{% block head_part %}
    <style>
        form textarea{
            width: 500px;
        }
    </style>
    <script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-datepicker/css/datepicker.css" type="style/css" />
    <script type="text/javascript" src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            language : 'zh_CN'
         });
        $(window).load(function(){
            $('#id_start_time,#id_end_time,#id_deadline').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 class="text-info">修改活动</h3>
    <div style="width:900px">
    <hr/>
        <form action="/modify_activity/1" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="text-error"> {{ field.errors }} </div>
                <div style="margin-bottom: 10px;">
                    <div style="width:110px;float: left;"> {{ field.label_tag }}</div>{{ field }}
                 </div>
            {% endfor %}
            <p><input type="submit" class="btn" value="修改" /></p>
        </form>
    </div>
{% endblock %}