{% extends 'base.html' %}
{% block head_part %}
    <style>
        .table td{
            text-align: center;
            width:300px;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="width:900px" >
        <h3 class="text-info">学生活动信息检索</h3>
        <form action="/search_student_activity/" method="post">
            <select name="branch">
                {% for branch in branch_list %}
                    <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
            </select>
            <input style="margin-bottom: 12px;" type="submit" class="btn " value="检索">
        </form>
                {% if flag == True%}
                    <table class="table">
                        <thead>
                            <tr>
                                <td><h5>学号</h5></td>
                                <td><h5>姓名</h5></td>
                                <td><h5>参与活动次数</h5></td>
                                <td><h5>详情</h5></td>
                            </tr>
                        </thead>
                        <tbody>
                    {% for student,count in activity_dic.items %}
                        <tr>
                            <td><a class="text-info" href="/back_student_info/{{ student.id }}">{{ student.student_id }}</a></td>
                            <td>{{ student.name }}</td>
                            <td>{{ count }}</td>
                            <td>
                                <a href="/student_activity_detail/{{ student.id }}" class="text-info">详情</a>
                            </td>
                        </tr>
                    {%  endfor %}
                        </tbody>
                        </table>
                {% elif flag == False %}
                    <div class="text-info">未搜索到结果。</div>
                {% else %}
                {% endif %}


    </div>
{% endblock %}