{% extends 'base3-other.html'%}
{% block title %}
    {{ title }}
{% endblock %}
{% block head_part %}
    <style>
        .table td{
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("a[name='cancel']").click(function(){
                var flag = confirm('确认删除？');
                if(flag){
                    var id = $(this).attr("id");
                    location.href="/delete_attachment/"+id;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 class="text-info">文件管理</h3>
    <div style="width:900px">
    <a class="text-info" href="/admin_center/"><<管理中心</a><br/>
    <hr/>
    <a class="text-info" href="/upload_attachment/">我要上传文件</a>
    <table class="table">
        <thead>
            <tr>
                <td><h5>文件名</h5></td>
                <td><h5>上传日期</h5></td>
                <td><h5>操作</h5></td>
            </tr>
        </thead>
        <tbody>
            {% for attachment in attachment_list %}
                <tr>
                    <td>{{ attachment.title }}</td>
                    <td>{{ attachment.date }}</td>
                    <td>
                        <a class="text-info" href="/get_attachment/{{ attachment.id }}">下载</a>
                        <a class="text-info" name="cancel" style="cursor: pointer;" id="{{ attachment.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}