{% extends 'base5.html' %}
{% block title %}{{ detail.title }}{% endblock %}
{% block head_part %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="detail">
            <h3 class="detail-title">
                {{detail.title}}
            </h3>
            <h5>
                <div class="detail-date-publisher">
                    <hr>
                    <div class="detail-publisher">
                        {{ detail.publisher }}
                    </div>
                    <div class="detail-date">
                        {{ detail.date }}
                    </div>
                    <hr>
                </div>
            </h5>
            {% autoescape off %}
                <div class="detail-content">
                    {{ detail.content }}
                </div>
            {% endautoescape %}
        </div>
    </div>
{%  endblock %}