{% extends 'base.html' %}
{% block head_part %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="text-center" style="width: 900px;">
        <h3>{{detail.title}}</h3>
        <hr style="margin:0 auto 0 auto;width:300px;">
        <h5>{{ detail.publisher }} &nbsp; &nbsp; &nbsp;{{ detail.date }}</h5>
        <hr style="margin:0 auto 0 auto;width:300px;">
    </div>
    <div style="margin-top: 20px;width: 900px;">
        {% autoescape off %}
            {{ detail.content }}
        {% endautoescape %}
    </div>
{%  endblock %}