{% extends 'base5.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="list">
            <h3 class="list-title">{{ title }}</h3>
            <div class="list-page">
                {% if item_list.has_previous %}
                    <a class="text-color" href="/list_{{ type }}/{{ item_list.previous_page_number }}">上一页</a>
                {% endif %}
                    第{{ item_list.number }} 页，共{{ item_list.paginator.num_pages }}页
                {% if item_list.has_next %}
                    <a class="text-color" href="/list_{{ type }}/{{ item_list.next_page_number }}">下一页</a>
                {% endif %}
            </div>
            <hr/>
            {% for item in item_list %}
                <div class="list-link">
                    <a href="/{{ type }}/{{ item.id }}">{{ item.title }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.date }}</a><br/>
                </div>
            {% endfor %}
        </div>
        <div style="width: 900px">

        </div>
    </div>
{% endblock %}