{% extends 'base_admin_center.html'%}
{% block title %}
   留言列表
{% endblock %}
{% block head_main_part %}
    <style>
        .table td{
            text-align: center;
        }
        a:hover{
         text-decoration: none;
        }
    </style>
{% endblock %}
{% block main_content %}
     <div class="admin-left-siderbar">
        {% if user.is_staff %}
            <div class="item-nav">活动管理</div>
            <div class="item"><a  href="/search_activity/">活动列表</a></div>
            <div class="item"><a  href="/add_activity/">活动发布</a></div>
            <div class="item"><a href="/search_student_activity/">学生活动查询</a></div>
            <div class="item-nav">文件管理</div>
            <div class="item"><a href="/attachment_list/">文件列表</a></div>
            <div class="item"><a href="/upload_attachment/">文件上传</a></div>
        {% if user.is_superuser %}
            <div class="item-nav">留言管理</div>
            <div class="item active"><a  style="color:white;" href="/list_suggestion/">留言列表</a></div>
            <div class="item-nav">其他管理</div>
            <div class="item"><a href="/admin/">新闻、通知等</a></div>
        {% endif %}
        {% endif %}
    </div>
    <div class="right-content">
            <table class="table" style="width: 700px;">
                <thead>
                    <tr>
                        <td><h5>留言标题</h5></td>
                        <td><h5>留言时间</h5></td>
                        <td><h5>留言回复状态</h5></td>
                        <td><h5>操作状态</h5></td>
                    </tr>
                </thead>
                <tbody>
                    {% for suggestion in suggestion_list %}
                       <tr>
                            <td>{{ suggestion.title }}</td>
                            <td>{{ suggestion.date }}</td>
                            <td>
                                {% if suggestion.status %}
                                    已回复
                                {% else %}
                                    <a href="/add_reply/{{ suggestion.id }}">未回复</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if suggestion.status %}
                                   <a href="/get_reply/{{ suggestion.id }}" target="_blank">【查看】</a>
                                   <a href="/change_reply/{{ suggestion.id }}">【修改】</a>
                                {% endif %}
                            </td>
                       </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}