{% extends 'base_admin_center.html'%}
{% block title %}
    文件上传
{% endblock %}
{% block head_main_part %}
    <script type="text/javascript">
        $(window).load(function(){
            $('#id_date').datepicker({
                dateFormat:"yy-mm-dd",
                changeMonth:true,
                changeYear:true
            });
        });
    </script>
{% endblock %}
{% block main_content %}
     <div class="admin-left-siderbar">
        {% if user.is_staff %}
            <div class="item-nav">活动管理</div>
            <div class="item"><a  href="/search_activity/">活动列表</a></div>
            <div class="item"><a  href="/add_activity/">活动发布</a></div>
            <div class="item"><a href="/search_student_activity/">学生活动查询</a></div>
            <div class="item-nav">文件管理</div>
            <div class="item"><a href="/attachment_list/">文件列表</a></div>
            <div class="item active"><a style="color:white;" href="/upload_attachment/">文件上传</a></div>
        {% if user.is_superuser %}
            <div class="item-nav">留言管理</div>
            <div class="item"><a href="/list_suggestion/">留言列表</a></div>
            <div class="item-nav">其他管理</div>
            <div class="item"><a href="/admin/">新闻、通知等</a></div>
        {% endif %}
        {% endif %}
    </div>
    <div class="right-content">
    <form action="/upload_attachment/" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            <div class="text-error"> {{ field.errors }} </div>
            <div style="margin-bottom: 10px;">
                <div style="font-size:14px;margin-bottom: 10px;">
                    <div style="float:left;width:110px;">{{ field.label}}</div>
                    <div>&nbsp;{{ field }}</div>
                </div>
             </div>
         {% endfor %}
         <div class="text-error">*文件上传大小最大限制为3.5MB</div>
        <p><input type="submit" class="btn" value="上传" /></p>
    </form>
    </div>
{% endblock %}