{% extends 'base5.html'%}
{% block title %}
    管理中心
{% endblock %}
{% block head_part %}
{% endblock %}
{% block content %}
    <div class="other-content" >
        <div class="list text-left">
            <h3 class="text-info">管理中心</h3>
            <hr/>
            {% if user.is_superuser %}
                <a class="text-info" href="/student_search/">学生信息查询</a><br/>
                <a class="text-info" href="/examine_price_list/">奖项审核管理</a><br/>
                <a class="text-info" href="/search_activity/">活动信息管理</a><br/>
                <a class="text-info" href="/list_suggestion/">留言建议管理</a><br/>
                <!--<a class="text-info" href="/import_xls/">学生信息导入</a><br/>-->
                <a class="text-info" href="/attachment_list/">文件共享中心</a><br/>
                <a class="text-info" href="/admin/">新闻、通知、奖项发布等管理</a><br/>
            {% elif user.is_staff %}
                <a class="text-info" href="/search_activity/">活动信息管理</a><br/>
                <a class="text-info" href="/attachment_list/">文件共享中心</a><br/>
            {% endif %}
        </div>
    </div>
{% endblock %}