{% extends 'base5.html'%}
{% block title %}
    管理中心
{% endblock %}
{% block head_part %}
<style>
    .admin-left-siderbar{
        float:left;
        height:600px;
        width:150px;
        list-style: none;
    }
    .admin-left-siderbar .item{
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 15px;
        height: 20px;
        color:#666;
    }
    .admin-left-siderbar .item-nav{
        margin-top:10px;
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        height:20px;
        border: 1px solid #dbdbdb;
        color: #565656;
    }
    .admin-left-siderbar .active{
        background-color: #ff6f3d;
        color:#fff;
    }
    .admin-left-siderbar .choice-active{
        background-color: #ff6f3d;
        color:#fff;
    }
    .admin-left-siderbar a{
        color: #000;
        text-decoration: none;
    }
    .right-content{
        margin-left: 50px;
        float: left;
    }
    .text-color{
        color:#ff6f3d;
    }
    </style>
    {% block head_main_part %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="list text-left">
            <h3 class="text-color">管理中心</h3>
            <hr/>
            {% block main_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}