{% extends 'base.html'%}
{% block title %}
    {{ branch.name }}信息
{% endblock %}
{% block head_part %}
    <style>
        .table{
            margin-bottom: 50px;
        }
        .table td{
            text-align: center;
            width:300px;
        }
    </style>
{% endblock %}
{% block content %}
    <h3 class="text-info">{{ branch.name }}信息</h3>
    <a href="/branch_summary/" class="text-info" >返回党支部信息列表</a>
    <div style="width:900px">
        <hr/>
        <h4 class="text-info">正式党员信息</h4>
        <table class="table">
            <thead>
                <tr>
                    <td><h5>学号</h5></td>
                    <td><h5>姓名</h5></td>
                    <td><h5>入党时间</h5></td>
                </tr>
            </thead>
            <tbody>
                {% for official in official_list %}
                    <tr>
                        <td>{{ official.student_id }}</td>
                        <td>{{ official.name }}</td>
                        <td>{{ official.join_party_time }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
        <h4 class="text-info">预备党员信息</h4>
        <table class="table">
            <thead>
                <tr>
                    <td><h5>学号</h5></td>
                    <td><h5>姓名</h5></td>
                    <td><h5>入党时间</h5></td>
                </tr>
            </thead>
            <tbody>
                {% for probationary in probationary_list %}
                    <tr>
                        <td>{{ probationary.student_id }}</td>
                        <td>{{ probationary.name }}</td>
                        <td>{{ probationary.join_party_time }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
        <h4 class="text-info">入党积极分子信息</h4>
        <table class="table">
            <thead>
                <tr>
                    <td><h5>学号</h5></td>
                    <td><h5>姓名</h5></td>
                    <td><h5>入党时间</h5></td>
                </tr>
            </thead>
            <tbody>
                {% for probationary in probationary_list %}
                    <tr>
                        <td>{{ probationary.student_id }}</td>
                        <td>{{ probationary.name }}</td>
                        <td>{{ probationary.join_party_time }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
        <h4 class="text-info">群众信息</h4>
        <table class="table">
            <thead>
                <tr>
                    <td><h5>学号</h5></td>
                    <td><h5>姓名</h5></td>
                    <td><h5>是否团员</h5></td>
                </tr>
            </thead>
            <tbody>
                {% for masses in masses_list %}
                    <tr>
                        <td>{{ masses.student_id }}</td>
                        <td>{{ masses.name }}</td>
                        <td>{{ masses.league_member}}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}