{% extends 'student_center_base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block head_main_part %}
   <script>
       $(document).ready(function(){
            $('#form').submit(function(){
                var old_password = $('#old_password').val();
                var new_password = $('#new_password').val();
                var new_password2 = $('#new_password2').val();
                if(old_password!=''){
                    if(new_password==new_password2){
                        if(new_password!=""&&new_password2!=""){
                            return true;
                        }
                        else{
                            alert("新密码不能为空");
                            return false;
                        }
                    }
                    else{
                        alert('新密码两次输入不同，请重新输入');
                        return false;
                    }
                }
                else{
                    alert('原密码不能为空');
                    return false;
                }
            });
        });
   </script>
   <style>
        .text-label{
            float:left;
            width: 100px;
        }
        input{
            float:left;
        }
   </style>
{% endblock %}
{% block main_content %}
    <ul class="left-siderbar">
        <li><a href="/student_info/">个人信息</a></li>
        <li  class="active"><a style="color: white;" href="/change_password/">密码修改</a></li>
        <li><a href="/user_activity_detail/">活动情况</a></li>
    </ul>
    <div class="right-content">
        <form id="form" action="/change_password/" method="post">
            <div class="text-label">原密码</div> <input type="password" id="old_password" name="old_password"/>
            <br/>
             <div class="text-label">新密码</div> <input type="password" id="new_password" name="new_password"/>
            <br/>
            <div class="text-label">重复新密码</div><input type="password" id="new_password2" name="new_password2"/>
            <br/>
            <input type="submit" class="btn" id="submit" value="确认修改"/>
        </form>
    </div>
{% endblock %}
