{% extends 'base5.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block head_part %}
   <script>
       $(document).ready(function(){
            $('#form').submit(function(){
                var old_password = $('#old_password').val();
                var new_password = $('#new_password').val();
                var new_password2 = $('#new_password2').val();
                if(old_password!=''){
                    if(new_password==new_password2){
                        if(new_password!=""&&new_password2!=""){
                            return true;
                        }
                        else{
                            alert("新密码不能为空");
                            return false;
                        }
                    }
                    else{
                        alert('新密码两次输入不同，请重新输入');
                        return false;
                    }
                }
                else{
                    alert('原密码不能为空');
                    return false;
                }
            });
        });
   </script>
{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="list text-left">
            <h3 class="text-info">修改密码</h3>
            <a class="text-info" href="/student_center/"><<用户中心</a>
            <hr/>
            <form id="form" action="/change_password/" method="post">
                原密码：<input type="password" id="old_password" name="old_password"/>
                <br/>
                新密码：<input type="password" id="new_password" name="new_password"/>
                <br/>
                重复新密码：<input type="password" id="new_password2" name="new_password2"/>
                <br/>
                <input type="submit" class="btn" id="submit" value="修改"/>
            </form>
        </div>
    </div>
{% endblock %}
