{% extends 'base5.html'%}
{% block title %}
    联系我们
{% endblock %}
{% block head_part %}
{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="list">
            <h3 class="list-title">关于我们</h3>
            <div class="list-text-left">
            <h4>
                上海大学计算机学院研究生党总支
            </h4>
                计算机学院研究生党总支在研究生工作党委的领导下，在学院党委的指导下，在团、学组织和广大研究生同学的大力支持下，结合计算机院研究生党团学工作的实际需要和具体学科特点，围绕研究生党建思政工作，始终坚持以邓小平理论、三个代表重要思想、科学发展观以及十八大会议精神为指导，积极贯彻党的教育方针和钱伟长教育思想，勇于探索、敢于创新，结合学院的中心工作，以党建思政工作为主要抓手，带领学院团总支和研究生会在制度建设、支部活动以及研究生学术文化活动等方面开展了一系列卓有成效工作，树立了计算机学院研究生的良好形象。计算机学院研究生党总支包括10个党支部，其中硕士研究生9个支部、博士研究生1个支部，党员人数167名（不包括组织关系不在本校的在职博士）。本届党总支成立于2013年6月，由六位委员组成，分别是党总支书记叶飞跃，专职委员叶亮，专职委员夏明帅，党总支副书记吴善鹏，组织委员常龙辉，宣传委员牛抗抗。
                <br/>

                <h4>联系我们</h4>
                如果在网站的使用过程中遇到任何问题，请联系ces_master@163.com，我们会尽快给予您回复。<br/>
            </div>
        </div>
    </div>
{% endblock %}