<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/home2.css" type="text/css" />
    <link rel="stylesheet" href="/static/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider();
        });
    </script>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
    <div class="navbar-inner" >
        <a class="brand" style="margin-left: 10px;" href="/home/">计算机学院研究生党总支工作平台</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/home/">首页</a></li>
              <li><a href="/list_news/1">新闻动态</a></li>
              <li><a href="/list_notice/0/1">通知公告</a></li>
              <li><a href="/list_regulation/1">制度条例</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">E家党支部<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/branch_summary/">党支部结构</a></li>
                  <li><a href="/list_activity/2">党组织生活</a></li>
                  <li><a href="/branch_search/">党员发展信息</a></li>
                  <li><a href="/branch_assessment/">党员考核信息</a></li>
                  <li><a href="/list_notice/2/1">组织发展公示</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">团学动态<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/list_activity/1">团组织活动</a></li>
                  <li><a href="/list_activity/0">研究生会活动</a></li>
                </ul>
              </li>
              <li><a href="#contact">就业指导</a></li>
              <li><a href="#contact">组织架构</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">束俊辉<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/list_activity/1">用户中心</a></li>
                    <li><a href="/list_activity/0">注销</a></li>
                  </ul>
              </li>-->
             <li><a href="#contact">我要登录</a></li>
            </ul>
        </div><!--/.nav-collapse -->
        <!--<div style="margin-top: 10px"><a href="">我要登录</a></div>-->
    </div>
 </div>
        <div class="header">
            <div class="header-logo"></div>
            <!--<div class="header-menu">
                <li><a href="#">首页</a></li>
                <li><a href="#">新闻动态</a></li>
                <li><a href="#">通知公告</a></li>
                <li><a href="#">制度条例</a></li>
                <li><a href="#">E家党支部</a></li>
                <li><a href="#">团学动态</a></li>
                <li><a href="#">就业指导</a></li>
                <li><a href="#">组织结构</a></li>
            </div>-->
        </div>
        <div class="slider">
            <div class="slider-wrapper theme-light">
                <div id="slider" class="nivoSlider">
                    <img src="/static/nivo-slider/images/up.jpg" data-thumb="/static/nivo-slider/toystory.jpg" alt="" />
                    <a href="http://dev7studios.com"><img src="/static/nivo-slider/images/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" /></a>
                    <img src="/static/nivo-slider/images/walle.jpg" data-thumb="/static/nivo-slider/images/walle.jpg" alt="" data-transition="slideInLeft" />
                    <img src="/static/nivo-slider/images/nemo.jpg" data-thumb="/static/nivo-slider/images/nemo.jpg" alt="" title="#htmlcaption" />
                </div>
                <div id="htmlcaption" class="nivo-html-caption">
                    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                </div>
            </div>
        </div>
        <div class="second">
            <div class="news">
                <h4 class="text-info title">学院新闻</h4>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div>
            </div>
            <div class="notice">
                <h4 class="text-info title">通知公告</h4>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title"><a href="#">关于学院党组织健康体检的安排</a></div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title">关于学院党组织健康体检的安排</div>
                    <div class="item-date">2011-02-11</div>
                </div><br/>
                <div class="item">
                    <div class="item-title">关于学院党组织健康体检的安排</div>
                    <div class="item-date">2011-02-11</div>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="activity">
                <h4 class="text-info title">团学活动</h4>
                <ul  class="nav nav-tabs">
                    <li class="active"><a href="#graduates" data-toggle="tab">研究生活动</a></li>
                    <li><a href="#youth" data-toggle="tab">团组织活动</a></li>
                    <li><a href="#party" data-toggle="tab">党组织活动</a></li>
                    <li><a href="#other" data-toggle="tab">其他活动</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="graduates">
                        {% for item in graduates_activity %}
                            <div class="item">
                                <div class="item-title"><a href="/activity_detail/{{ item.id }}">{{ item.title }}</a></div>
                                <div class="item-date">{{ item.start_time }}</div>
                                <br/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="youth">
                        {% for item in youth_activity %}
                            <a href="/activity_detail/{{ item.id }}">{{ item.title }}&nbsp;&nbsp;&nbsp;{{ item.start_time }}</a><br/>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="party">
                        {% for item in party_activity %}
                             <a href="/activity_detail/{{ item.id }}">{{ item.title }}&nbsp;&nbsp;&nbsp;{{ item.start_time }}</a><br/>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="other">
                        {% for item in other_activity %}
                             <a href="/activity_detail/{{ item.id }}">{{ item.title }}&nbsp;&nbsp;&nbsp;{{ item.start_time }}</a><br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="links">
                <h4 class="text-info title">友情链接</h4>
            </div>
        </div>
        <div class="footer">
            为使网站达到最佳浏览效果，请使用IE7.0以上版本或者chrome、firefox等浏览器
            <br/>
            上海大学计算机工程与科学学院 版权所有 © 2013

        </div>
    </div>
</body>
</html>