{% extends 'base5.html' %}
{% block title %}
    上海大学计算机学院党总支工作平台
{% endblock %}
{% block head_part %}
    <link rel="stylesheet" href="/static/nivo-slider/themes/default/default.css" type="text/css"/>
    <link rel="stylesheet" href="/static/nivo-slider/themes/light/light.css" type="text/css" />
    <link rel="stylesheet" href="/static/nivo-slider/nivo-slider.css" type="text/css"  />
    <link rel="stylesheet" href="/static/css/new_home.css" type="text/css" />
    <script type="text/javascript" src="/static/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $("document").ready(function(){
            $('#slider').nivoSlider({
                 pauseTime: 7000
            });
            $(".tab-pane").each(function(){
               if(!$(this).hasClass('active')){
                $(this).hide();
               }
            });
            $(".tab-item").hover(function(){
                var array = $(this).attr("id").split('_');
                 $(".tab-item").each(function(){
                    var array2 = $(this).attr("id").split('_');
                    if(array[1]==array2[1])
                    {
                        $(this).removeClass("tab-item-hover");
                        if($("#"+array2[2]).hasClass('active')){
                           $("#"+array2[2]).removeClass('active').hide();
                        }
                    }
                 });
                $(this).addClass("tab-item-hover");
                $("#"+array[2]).addClass('active').show();
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="slider">
        <div class="slider-wrapper theme-light">
            <div id="slider" class="nivoSlider">
                {% for nivoslider in nivosliders %}
                    <img src="/media/{{ nivoslider.image }}" title="{{ nivoslider.title }}">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="activity">
            <div class="item-title">研究生活动</div>
            <div class="tab">
                <div class="tab-item tab-item-hover" id="tab_activity_youth">团组织活动</div>
                <div class="tab-item" id="tab_activity_student">研究生会活动</div>
                <div class="tab-item" id="tab_activity_other">其他活动</div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="youth">
                    {% for item in youth_activity %}
                        <div class="item-link">
                            <div class="item-link-title"><a href="/activity_detail/{{ item.id }}">{{ item.title }}</a></div>
                            <div class="item-link-date">{{ item.start_time }}</div>
                            <br/>
                        </div>
                    {% endfor %}
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/list_activity/1">更多</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="student">
                    {% for item in graduates_activity %}
                        <div class="item-link">
                            <div class="item-link-title"><a href="/activity_detail/{{ item.id }}">{{ item.title }}</a></div>
                            <div class="item-link-date">{{ item.start_time }}</div>
                            <br/>
                        </div>
                    {% endfor %}
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/list_activity/0">更多</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="other">
                    {% for item in other_activity %}
                        <div class="item-link">
                            <div class="item-link-title"><a href="/activity_detail/{{ item.id }}">{{ item.title }}</a></div>
                            <div class="item-link-date">{{ item.start_time }}</div>
                            <br/>
                        </div>
                    {% endfor %}
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/list_activity/3">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="party">
            <div class="item-title">E家党支部</div>
            <div class="tab">
                <div class="tab-item tab-item-hover" id="tab_party_structure">党支部结构</div>
                <div class="tab-item" id="tab_party_partyinparty">党组织生活</div>
                <div class="tab-item" id="tab_party_notice">组织发展公示</div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="structure">
                    <table class="table">
                        <thead>
                            <tr>
                                <td><h5>党支部</h5></td>
                                <td><h5>正式党员人数</h5></td>
                                <td><h5>预备党员人数</h5></td>
                                <td><h5>共青团员人数</h5></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch,detail in branch_context.items %}
                                <tr >
                                    <td><div class="item-link-normal"><a href="/branch_detail/{{ branch.id }}">{{ branch.name }}</a></div></td>
                                    {% for count in detail %}
                                        <td>{{ count }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/branch_summary">更多</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="partyinparty">
                    {% for item in party_activity %}
                        <div class="item-link">
                            <div class="item-link-title"><a href="/activity_detail/{{ item.id }}">{{ item.title }}</a></div>
                            <div class="item-link-date">{{ item.start_time }}</div>
                            <br/>
                        </div>
                    {% endfor %}
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/list_activity/2">更多</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="notice">
                    {% for item in develop_notices %}
                        <div class="item-link">
                            <div class="item-link-title"><a href="/notice/{{ item.id }}">{{ item.title }}</a></div>
                            <div class="item-link-date">{{ item.date }}</div>
                            <br/>
                        </div>
                    {% endfor %}
                    <div class="item-link">
                        <div class="item-link-more">
                            <a href="/list_activity/2">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="item-title">新闻动态</div>
            <div class="news-content">
                {% for item in news %}
                    <div class="item-link">
                         <div class="item-link-title">
                             <a href="/news/{{ item.id }}">{{ item.title }}</a>
                         </div>
                         <div class="item-link-date">{{ item.date }}</div>
                    </div>
                {% endfor %}
               <div class="item-link">
                    <div class="item-link-more">
                        <a href="/list_news/1">更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="notice">
            <div class="item-title">通知公告</div>
             <div class="news-content">
                {% for item in notices %}
                    <div class="item-link">
                         <div class="item-link-title">
                             <a href="/notice/{{ item.id }}">{{ item.title }}</a>
                         </div>
                         <div class="item-link-date">{{ item.date }}</div>
                    </div>
                {% endfor %}
                <div class="item-link">
                    <div class="item-link-more">
                        <a href="/list_notice/0/1">更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="links">
            <div class="links-item">友情链接：</div>
            <div class="links-item"><a href="http://www.shu.edu.cn">上海大学</a></div>
            <div class="links-item"><a href="http://yjsgzdw.shu.edu.cn/">上海大学研究生工作党委</a></div>
            <div class="links-item"><a href="http://yjsb.shu.edu.cn/">上海大学研究生部</a></div>
            <div class="links-item"><a href="http://www.ces.shu.edu.cn/">上海大学计算机工程与科学学院</a></div>
        </div>
{% endblock %}