{% extends 'base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block head_part %}
    <script type="text/javascript">
        $(window).load(function(){
            $('#id_birthday,#id_apply_party_time,#id_join_party_time').datepicker({
                dateFormat:"yy-mm-dd",
                changeMonth:true,
                changeYear:true
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 class="text-info">个人信息</h3>
    <a class="text-info" href="/student_center/"><<用户中心</a>
    <div style="width:900px">
    <hr/>
    <h4 class="text-info" style="margin-bottom: 20px;">党员相关信息</h4>
    {% for k,v in student.items %}
         <div style="margin-bottom: 10px;">
            <div style="width:150px;font-weight:bold;float: left;">
                {{ k }}</div>
                {% if v %}
                    {{ v }}
                {% else %}
                    暂无信息
                {% endif %}
                <br/>
        </div>
    {% endfor %}
    <hr/>
        <h4 class="text-info" style="margin-bottom: 20px;">个人基本信息</h4>
        <form action="/student_info/" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="text-error"> {{ field.errors }} </div>
                <div style="margin-bottom: 10px;">
                    <div style="width:110px;font-weight:bold;float: left;">
                    {{ field.label_tag }}</div>{{ field }}
                    {% if field.label == "出生年月" %}
                        日期格式：YYYY-MM-DD
                    {% endif %}
                 </div>
            {% endfor %}
            <p><input type="submit" class="btn" value="修改" /></p>
            <hr/>
        </form>
    </div>
{% endblock %}