<div class="header"></div>
<ul id="nav">
    <li><a href="/home/">首页</a></li>
    <li><a href="/list_news/1">新闻动态</a></li>
    <li><a href="/list_notice/0/1">通知公告</a></li>
    <li><a href="/list_regulation/1">制度条例</a></li>
    <li><a href="#">E家党支部</a>
        <ul>
          <li><a href="/branch_summary/">党支部结构</a></li>
          <li><a href="/list_activity/2">党组织生活</a></li>
          <li><a href="/branch_search/">党员发展信息</a></li>
          <li><a href="/branch_assessment/">党员考核信息</a></li>
          <li><a href="/list_notice/2/1">组织发展公示</a></li>
        </ul>
    </li>
    <li><a href="#">团学活动</a>
        <ul>
          <li><a href="/list_activity/1">团组织活动</a></li>
          <li><a href="/list_activity/0">研究生会活动</a></li>
        </ul>
    </li>
    <li><a href="/branch_structure/">组织架构</a></li>
    <li><a href="#">关于我们</a>
        <ul>
          <li><a href="/list_reply/">留言建议</a>
          <li><a href="/contact/">关于我们</a></li>
        </ul>

    </li>
    {% if user.is_active %}
        {% if user.is_staff %}
            {% if user.is_superuser %}
                <li><a href="#">{{ user }}</a>
                <ul>
                    <li><a href="/admin_center/">管理中心</a></li>
                    <li><a href="/user_logout/">注销</a></li>
                </ul>
                </li>
            {% else %}
                <li><a href="#">{{ user }}</a>
                    <ul>
                        <li><a href="/student_center/">用户中心</a></li>
                        <li><a href="/admin_center/">管理中心</a></li>
                        <li><a href="/user_logout/">注销</a></li>
                    </ul>
                </li>
            {% endif %}
        {% else %}
            <li><a href="#">{{ user }}</a>
            <ul>
                <li><a href="/student_center/">用户中心</a></li>
                <li><a href="/user_logout/">注销</a></li>
            </ul>
            </li>
        {% endif %}
    {% else %}
        <li><a href="/user_login/">我要登录</a></li>
    {% endif %}
</ul>