{% extends 'base5.html' %}
{% block title %}版本更新信息{% endblock %}
{% block content %}
    <div class="other-content">
        <div class="list text-left">
         <h3 class="text-info">版本更新信息</h3>
         <hr/>
         2013.7.15  实现平台基本框架(新闻、通知）<br/>
         2013.7.17  添加活动模块<br/>
         2013.7.19  添加奖项模块<br/>
         2013.7.22  添加用户模块<br/>
         2013.7.31  添加文件模块，第一版主页<br/>
         2013.8.6   添加用户交互，平台功能初步完成<br/>
         2013.9.10  添加学生信息查询、活动查询、学生修改密码功能<br/>
         2013.9.21  添加奖项附件上传，活动附件下载<br/>
         2013.10.15 第二版主页、UI上线<br/>
         2013.10.21 完成留言建议功能<br/>
         2013.10.29 实现平台基本功能，平台公开上线<br/>
         2013.10.31 修复页面bug,优化相关表单验证
        </div>
    </div>
{%  endblock %}